#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.chart-text-label-category {
  fill: #333;
}

.chart-text-label-category-name {
  fill: #333;
}

.chart-text-label-series-name {
  fill: #333;
}

.chart-text-label-ticks {
  fill: #333;
}

.chart-series-1 {
  fill: #337f33;
}

.display-statistic-number {
  background-color: #f8f8f8;
}
.display-statistic-number-name {
  font-size: 1rem;
  color: #777;
}
.display-statistic-number-value {
  font-weight: 700;
  font-size: 2rem;
  color: #888;
}
