#root {
  width:100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.layout-chart-container {
  margin-bottom: 3rem;
}

.chart-graphic {
  padding-top: 1rem;
  margin-bottom: 1rem;
  text-align: left;
}

.chart-legend-patch {
  width: 0.8rem;
  height: 0.8rem;
  /* vertical-align: bottom; */
  background: #000;
}

.chart-text-data-label {
  font-size: 0.8rem;
  fill: #333;
}
.chart-text-label-category {
  font-size: 0.8rem;
  fill: #333;
}

.chart-text-source {
  font-size: 0.8rem;
  color: #333;
  text-align: left;
  margin-bottom: 0.5rem;
}

.chart-text-source-label {
  color: #333;
}

.chart-text-subtitle {
  font-size: 1rem;
  color: #333;
  text-align: left;
  margin-bottom: 0.5rem;
}

.chart-text-title {
  font-size: 1.5rem;
  color: #333;
  text-align: left;
  margin-bottom: 0.1rem;;
}

.chart-text-label-category-name {
  font-size: 0.8rem;
  fill: #333;
}

.chart-bar-text-label-caetegory-name {
  font-size: 0.7rem;
  fill: #333;
}

.chart-text-label-series-name {
  font-size: 0.8rem;
  fill: #333;
}

.chart-text-label-ticks {
  font-size: 0.8rem;
  fill: #333;
}

.chart-text-legend {
  font-size: 0.8rem;
  fill: #333;
  margin-top: -0.2rem;
}

.chart-series-1 {
  fill: #337f33;
}

.display-statistic-number {
  background-color: #f8f8f8;
}
.display-statistic-number-name {
  font-size: 1rem;
  color: #777;
}
.display-statistic-number-value {
  font-weight: 700;
  font-size: 2rem;
  color: #888;
}

.container-legend-chart {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: left;
}

.container-legend-items {
  display: grid;
  gap: 0.4rem;
  grid-template-columns: 0.8rem auto;
  margin-right: 0.8rem;
  margin-bottom: 0.4rem;
}

.form-login-container {
  padding-top: 2rem;
}
